.link{
    margin: 0;
    margin-left: 20px;
    font-size: 18px;
    color:white;
    text-decoration: none;
    
}

.link:hover{
    color:white;
}

@media only screen and (max-width: 650px) {
    .link{
       
            display: none;
         
    }
  }